<h1 [hidden]="username ===''">Welcome {{ username }}</h1>
<h1 [hidden]="username !==''">Please enter your username</h1>
 <hr>
<label for="Name">Username:</label>
<input id= "Name" type="text" (input)="onUsernameInputChange($event)">
<br>
<label for="pass">Enter Password:</label>
<input id= "pass" type="password" (input)="onPasswordInputChange($event)">
<br>
<label for="config">Rytype Password:</label>
<input id= "config" type="password" (input)="onRytypePasswordChange($event)">
<br>
<label [hidden]="isPasswordsmatch || password === ''">Passwords do not mach!!!</label>
<label [hidden]="!isPasswordsmatch">Passwords Match!!!</label>
